.inner-job-container {
    margin-top: 20px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.job-container {
    padding: 40px;
    padding-top: 10px !important;
}
.job-card {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 100% !important;
}
#apply-job-btn {
    margin-top: 20px;
    background-color: forestgreen !important;
}
